@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

@font-face {
    font-family: 'OAGothic-Medium';
    src: url(./fonts/OAGothic-Medium.otf) format('woff2');
    font-style: normal;
}
@font-face {
    font-family: 'Giants-Inline';
    src: url(./fonts/Giants-Inline.ttf) format('woff2');
    font-style: normal;
}

:root{
    --red:#d00f31;
    --navy:#041e42;
    --sky:#6cace4;
    --black:#333;
    --white:#fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--red);
    border-radius: .5rem;
}

section{
    padding: 5rem 7%;
    position: relative;
}

.heading{
    font-size: 6rem;
    color: var(--red);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
    opacity: .1;
}

h4,
h2>h4 {
    font-size: 2.5rem;
    color: var(--navy);
    position: absolute;
    top: 8rem; left: 50%;
    transform: translateX(-50%);
}

.btn{
    display: inline-block;
    margin-top: 75%;
    padding: 1rem 3rem;
    background: var(--red);
    border-radius: 3.5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--sky);
}

.btn-slide{
    display: inline-block;
    margin-top: 75%;
    padding: 1.5rem 4.5rem;
    background: var(--navy);
    border-radius: 3.5rem;
    color: var(--white);
    font-size: 2.5rem;
    cursor: pointer;
}

.btn-slide:hover{
    background: var(--red);
}

.ticket-btn{
    display: inline-block;
    margin: 0 auto;
    padding: 1rem 3rem;
    background: var(--red);
    border-radius: 3.5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.ticket-btn:hover{
    background: var(--sky);
}

.ko {
    font-family: 'OAGothic-Medium';
}

/* header */

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo{
    display: flex;
    align-items: center;
}


.header .logo p {
    font-family: 'Giants-Inline';
}

.header .logo img{
    height: 3.5rem;
    padding-right: .5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: var(--red);
}

.header .navbar .btn{
    margin-top: 0;
    color: var(--white);
}

.header .navbar .btn:hover{
    color: var(--white);
}

#menu-btn{
    display: none;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--black);
}

#menu-btn:hover{
    color: var(--red);
}

/* end */

/* home */

.home{
    padding: 0;
}

.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.home .slide .content{
    width: 80rem;
    text-align: center;
}

.home .slide .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--white);
    line-height: 1.1;
    padding: 2rem 0;
}

.swiper-button-next,
.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: var(--white);
    color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--red);
    color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

/* end */

/* availability */

.availability form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: #eee;
    padding: 2rem;
    border-radius: .5rem;
}

.availability form .box{
    flex: 1 1 20rem;
}

.availability form .box p{
    font-size: 2rem;
    color: var(--red);
}

.availability form .box .input{
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--black);
    margin: 1rem 0;
    border-radius: .5rem;
}

/* end */

/* about */

.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
}

.about .row .image{
    flex: 1 1 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .row .image img{
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}

.about .row .content{
    flex: 1 1 51rem;
    position: relative;
}

.about .row .content h3{
    font-size: 7rem;
    color: var(--red);
    padding: 2rem 0;
    opacity: .1;
}

.about .row .content h4 {
    /* font-size: 2.5rem; */
    /* color: var(--navy); */
    /* position: absolute; */
    top: 6rem; left: 12rem;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
    line-height: 1.8;
}

/* end */

/* rooms */

.room .slide{
    background: var(--white);
    border: .1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 4rem;
}

.room .slide .image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.room .slide .image img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.room .slide .image .price{
    position: absolute;
    top: 2.5rem; left: 2.5rem;
    background: var(--red);
    color: var(--white);
    font-size: 1.7rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-transform: lowercase;
}

.room .slide .image .fa-shopping-cart{
    position: absolute;
    top: 2.5rem; right: 2.5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 2rem;
    background: var(--white);
    color: var(--black);
    border-radius: 50%;
}

.room .slide .image .fa-shopping-cart:hover{
    background: var(--sky);
    color: var(--white);
}

.room .slide .content{
    padding: 2rem;
    padding-top: 0;
}

.room .slide .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.room .slide .content p{
    font-size: 1.6rem;
    color: #666;
    padding: .5rem 0;
    line-height: 1.5;
}

.room .slide .content .stars{
    padding: 1rem 0;
}

.room .slide .content .stars i{
    font-size: 1.7rem;
    color: var(--red);
}

/* end */

/* services */

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem,1fr));
    gap: 2rem;
}

.services .box-container .box{
    text-align: center;
}

.services .box-container .box img{
    height: 10rem;
    margin-bottom: .7rem;
}

.services .box-container .box h3{
    font-size: 1.7rem;
    color: var(--black);
    padding: .5rem 0;
}

/* end */

/* gallery */

.gallery .slide{
    height: 30rem;
    position: relative;
    overflow: hidden;
}

.gallery .slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .slide .icon{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.gallery .slide .icon p{
    font-size: 1.5rem;
    color: var(--white);
}

.gallery .slide:hover .icon{
    display: flex;
}

/* end */

/* information */

.information{
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 48rem;
    position: relative;
    margin: 9rem 0;
}

.information .information-slider{
    background: var(--sky);
    width: 65%;
    height: 145%;
    margin-top: -8rem;
    margin-right: 60rem;
    padding: 1.5% 0;
    color: var(--white);
    box-shadow: var(--box-shadow);
}

.information .slide{
    text-align: center;
    position: relative;
    /* display: flex; justify-content: center; align-items: center; */
}

.information .slide .heading{
    color: var(--white);
    opacity: 0.3;
    margin-bottom: 0.5rem;
    display: inline-block; width: 100%;
    overflow: hidden; text-overflow: clip;
}

.information div h4 {
    top: 3rem;
}

.information .vs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information .vs img {
    height: 266px;
}

.information .vs p {
    font-size: 3rem;
    color: var(--red);
    font-family: 'Giants-Inline';
}

.information .slide img{
    padding: 2rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--white);
    
}

/* .information .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-radius: .5rem;
} */


/* .information .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 15%;
    object-fit: cover;
} */

.information .slide .user h3{
    font-size: 2rem;
    color: var(--navy);
    padding-bottom: .5rem;
}

.information .slide .user p{
    font-size: 1.8rem;
    color: var(--navy);
}

.information .swiper-pagination {
    position: relative;
    top: -2rem;
}

/* end */


/* ticket */
.ticket {
    display: flex;
    flex-direction: column;
}

.ticket iframe {
    width: 100%;
    height: 800px;
    border: .2rem solid rgba(0, 0, 0, 0.1);
    border-radius: 3rem;
    margin-bottom: 5rem;
}

/* end */

/* footer */

.footer{
    background: var(--navy);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box:nth-child(2)>div {
    display: flex;
}

.footer .box-container .box:nth-child(2)>div>div {
    width: 42%;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding: 1rem 0;
    color: var(--red);
}

.footer .box-container .box a{
    font-size: 1.6rem;
    display: block;
    color: var(--white);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--red);
    padding-right: .5rem;
}

.footer .box-container .box a:hover{
    color: var(--red);
}

.footer .share{
    padding-top: 2rem;
    text-align: center;
}

.footer .share a{
    color: var(--red);
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    border: .1rem solid var(--red);
    margin: .3rem;
}

.footer .share a:hover{
    color: var(--white);
    background: var(--red);
    transform: rotate(360deg);
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    margin-top: 2.5rem;
    padding-top: 2rem;
    border-top: .1rem solid rgba(0, 0, 0, 0.3);
    color: var(--white);
}

.footer .credit span{
    color: var(--sky);
    font-style: italic;
}

/* end */

















/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem 3rem;
    }

    .home .slide{
        min-height: 80vh;
    }
}

@media (max-width: 780px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: var(--white);
        border-radius: .5rem;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .home .slide{
        min-height: 55vh;
    }

    .home .slide .content{
        width: 50rem;
    }

    .information .information-slider{
        width: 100%;
        /* padding: 1rem; */
        /* padding-top: 15%; */
    }

}

@media (max-width: 450px){

    html{
        font-size: 50%;
    }

    .home .slide{
        min-height: 40vh;
    }

    .home .slide .content{
        width: 30rem;
    }

    .home .slide .content h3{
        font-size: 3rem;
    }

}